.collapse{
white-space: pre-wrap;
}

.author{
    
   
    font-style: italic;
}

.lead{
    font-size: 15px;
    font-style: italic;
    color:whitesmoke;
    font-weight: 500;
}




div{
     background-color: tomato; 
    /* background-image: url('/image/book.jpg'); */
}